<h1>{{btnTitulo}}</h1>
<form [formGroup]="objetoform" (ngSubmit)="submit()" #formDit="ngForm">
<input type="hidden" formControlName="idObjeto">

    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Nome do objeto</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="Nome" id="inputEmail3" placeholder="Nome">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Descrição</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="Descricao"   id="inputPassword3" placeholder="Descrição">
      </div>
    </div>
    <div class="form-group row">
        <label for="inputEstado">Categoria</label>
        <div class= "col-sm-10">
        <select id="inputEstado" formControlName="Categoria"  class="form-control">
          <option selected>Escolher...</option>
          <option value="Perdido">Perdido</option>
          <option value="Achei">Achado</option>
         </select>
    </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Link da Foto do Objeto</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="FotoObjeto"    id="inputEmail3" placeholder="Link da foto">
        </div>
      </div>
      
      
     
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" [disabled]="!objetoform.valid">{{btnAcao}}</button>
      </div>
    </div>
    
  </form>

