.pesquisar{
  border: solid,  rgb(76, 77, 78);
  border-radius: 10px;
 width: 15rem;
 height: 35px;
 margin-left: 7px;
 margin-top: 30px;
 position: relative;
 
 
}
.search-input{
background-color: transparent;
border: none;
margin-left: 15px; 
margin-top: 3px;


}
.search-input:focus{
  border: none;
  outline: none;
}
svg{
margin-left: 10px;
}

.card {
    width: 14rem;
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .card-img-top {
    height: 150px; /* Defina a altura que desejar */
    object-fit: cover;
  }
  
  .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  .section-title {
    font-weight: bold;
    font-size: 1.20rem;
    margin-bottom: 20px;
     margin-top: 20px;
     margin-left: 100px;
  }
  .container{
    margin-right: 100px;
  }