<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand mb-0 h1" routerLink="/" routerLinkActive="active">Achados e Perdidos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/objetospage" routerLinkActive="active">Objetos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/documentospage" routerLinkActive="active">Documentos</a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cadastrar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/cadastroobjeto" routerLinkActive="active">Objeto</a>
          <a class="dropdown-item" routerLink="/cadastrardocumento" routerLinkActive="active">Documento</a>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <a class="nav-link"   (click)="irParaMeusItens()" style="cursor: pointer;"  routerLinkActive="active" >Meus itens cadastrados</a>
  </div>
  <button type="button" class="btn btn-danger" (click)="removerid()">Sair</button>
</nav>
